body{
    background-color: black;
}
.wings{
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: rotate 3s linear infinite;
}
.center{
    width:100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.blade1{
    width: 500px;
    height: 80px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
}
.blade2{
    width: 500px;
    height: 80px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: rotate(160deg);
}
.blade3{
    width: 500px;
    height: 80px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: rotate(280deg);
}
.blade{
    width: 200px;
    background-color: white;
    height: 80px;
    border-radius: 10%;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.controls input{
    appearance: none;
    width: 90%;
    margin: 1rem 3rem;
    height: 20px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #000;
    cursor: pointer;
  }